electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/